# Ignore node_modules in the front-end
front-end/node_modules/

# Ignore build output in the front-end
front-end/build/

# Ignore environment-specific files
front-end/.env

# Ignore logs
front-end/logs
server/logs

# Ignore Python virtual environments
server/Include/
server/Lib/
server/Scripts/
server/pyvenv.cfg

# Ignore Django specific files
server/myproject/db.sqlite3
server/myproject/__pycache__/
server/myproject/static/
server/myproject/media/

# Ignore VSCode settings
server/myproject/.vscode/

# Ignore Python cache files
server/myproject/**/*.pyc
server/myproject/**/*.pyo

# Ignore coverage reports
server/coverage/
